body{
  margin: 0;
  padding: 0;
  background: #34812D;
}
.container{
  margin: auto;
  padding: 4px 6px 4px 6px;
  width: 80%;
  position: relative;
  top: 90px;
  background: #202020;
  color: #DADADA;
  z-index: 1;
}
.main{
  display: inline-block;
  float: right;
  width: 83%;
}
.stats{
  display: inline-block;
  float: left;
  width: 17%;
  min-height: 600px;
  vertical-align: top;
}
.news, .battles, .shout, .quickInfo{
  display: inline-block;
  width: 50%;
  min-height: 300px;
  vertical-align: top;
}
