.menu{
  position: fixed;
  width: 100%;
  top:0px;
  left:0px;
  padding: 5px 3px 5px 3px;
  background: #202020;
  color: #DADADA;
}
.menuItem{
  position: relative;
  display: inline-block;
  margin: auto;
  width: 80px;
  height: 25px;
  transition: 200ms;
  text-align: center;
  text-anchor: middle;
}
.menuItem:hover{
  color: #4780B9;
  cursor: pointer;
}
